<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <userSettings>
    <Roaming>
      <APKToolGUI.Properties.Settings>
        <Decode_SetApiLevel>False</Decode_SetApiLevel>
        <Build_InputDir>C:\Users\vibu\apktool\SOL1\tst\Škola.OnLine.ver.3.1.4.build.333</Build_InputDir>
        <Sign_InputFile></Sign_InputFile>
        <Framework_ClearBeforeDecode>True</Framework_ClearBeforeDecode>
        <Decode_NoSrc>False</Decode_NoSrc>
        <Framework_FrameDir></Framework_FrameDir>
        <Decode_MatchOriginal>False</Decode_MatchOriginal>
        <Sign_Schemev3>0</Sign_Schemev3>
        <PlaySoundWhenDone>False</PlaySoundWhenDone>
        <Smali_UseOutputDir>False</Smali_UseOutputDir>
        <Sign_UseOutputDir>False</Sign_UseOutputDir>
        <Zipalign_SignAfterZipAlign>True</Zipalign_SignAfterZipAlign>
        <Build_UseOutputAppPath>False</Build_UseOutputAppPath>
        <Decode_UseOutputDir>False</Decode_UseOutputDir>
        <Smali_OutputDir></Smali_OutputDir>
        <Build_UseAapt2>True</Build_UseAapt2>
        <Decode_UseFramework>False</Decode_UseFramework>
        <Decode_Force>True</Decode_Force>
        <Zipalign_UseOutputDir>False</Zipalign_UseOutputDir>
        <Sign_KeystoreFilePath></Sign_KeystoreFilePath>
        <Baksmali_OutputDir></Baksmali_OutputDir>
        <IgnoreOutputDirContextMenu>False</IgnoreOutputDirContextMenu>
        <Zipalign_OutputDir></Zipalign_OutputDir>
        <Zipalign_AlignmentInBytes>4</Zipalign_AlignmentInBytes>
        <Sign_Schemev2>0</Sign_Schemev2>
        <Build_SetApiLevel>False</Build_SetApiLevel>
        <Sign_Schemev1>0</Sign_Schemev1>
        <Build_SignAfterBuild>True</Build_SignAfterBuild>
        <Baksmali_UseOutputDir>False</Baksmali_UseOutputDir>
        <Zipalign_Recompress>False</Zipalign_Recompress>
        <Build_ApiLevel>29</Build_ApiLevel>
        <Zipalign_Verbose>False</Zipalign_Verbose>
        <Sign_OutputDir></Sign_OutputDir>
        <CheckForUpdateAtStartup>True</CheckForUpdateAtStartup>
        <InstallFramework_Tag></InstallFramework_Tag>
        <Zipalign_CheckOnly>False</Zipalign_CheckOnly>
        <Build_CopyOriginal>False</Build_CopyOriginal>
        <Decode_NoRes>False</Decode_NoRes>
        <Build_UseFramework>False</Build_UseFramework>
        <Sign_KeystorePassword></Sign_KeystorePassword>
        <Decode_InputAppPath>C:\Users\vibu\apktool\SOL1\tst\Škola.OnLine.ver.3.1.4.build.333.apks</Decode_InputAppPath>
        <Sign_PublicKey>C:\Users\vibu\apktool\SOL1\tst\apktool\Resources\testkey.x509.pem</Sign_PublicKey>
        <Zipalign_OverwriteOutputFile>False</Zipalign_OverwriteOutputFile>
        <Build_OutputAppPath></Build_OutputAppPath>
        <Decode_ApiLevel>29</Decode_ApiLevel>
        <Build_NoCrunch>False</Build_NoCrunch>
        <Sign_PrivateKey>C:\Users\vibu\apktool\SOL1\tst\apktool\Resources\testkey.pk8</Sign_PrivateKey>
        <Decode_KeepBrokenRes>False</Decode_KeepBrokenRes>
        <LastUpdateCheck>06/07/2023 14:41:18</LastUpdateCheck>
        <Build_AaptPath></Build_AaptPath>
        <JavaExe></JavaExe>
        <Decode_OnlyMainClasses>True</Decode_OnlyMainClasses>
        <Zipalign_InputFile></Zipalign_InputFile>
        <Decode_OutputDir></Decode_OutputDir>
        <Build_CreateUnsignedApk>False</Build_CreateUnsignedApk>
        <Smali_InputDir></Smali_InputDir>
        <Build_UseAapt>False</Build_UseAapt>
        <ClearLogBeforeAction>True</ClearLogBeforeAction>
        <Sign_SetAlias>False</Sign_SetAlias>
        <Build_ZipalignAfterBuild>True</Build_ZipalignAfterBuild>
        <InstallFramework_InputFramePath></InstallFramework_InputFramePath>
        <BuildProjectDir></BuildProjectDir>
        <Sign_Alias>CERT</Sign_Alias>
        <Framework_UseFrameDir>False</Framework_UseFrameDir>
        <Sign_UseKeystoreFile>False</Sign_UseKeystoreFile>
        <Decode_NoDebugInfo>False</Decode_NoDebugInfo>
        <Decode_FixError>True</Decode_FixError>
        <Baksmali_InputDexFile></Baksmali_InputDexFile>
        <InstallFramework_UseTag>False</InstallFramework_UseTag>
        <Build_ForceAll>True</Build_ForceAll>
        <Sign_Schemev4>0</Sign_Schemev4>
        <Smali_OutputDexFile></Smali_OutputDexFile>
        <Culture>Auto</Culture>
      </APKToolGUI.Properties.Settings>
    </Roaming>
    <PC_DESKTOP-FMKRTVK>
      <APKToolGUI.Properties.Settings>
        <AutoDeleteIdsigFile>True</AutoDeleteIdsigFile>
        <Adb_SelectedApkPath></Adb_SelectedApkPath>
        <UseCustomApktool>False</UseCustomApktool>
        <TempDir></TempDir>
        <UseCustomTempDir>False</UseCustomTempDir>
        <Theme>0</Theme>
        <Sign_InstallApkAfterSign>False</Sign_InstallApkAfterSign>
        <Decode_UseApkEditorMergeApk>True</Decode_UseApkEditorMergeApk>
        <Sign_OverwriteInputFile>False</Sign_OverwriteInputFile>
        <UseCustomJavaExe>False</UseCustomJavaExe>
        <Adb_SetVendor>False</Adb_SetVendor>
        <Utf8FilenameSupport>False</Utf8FilenameSupport>
        <ApktoolPath></ApktoolPath>
      </APKToolGUI.Properties.Settings>
    </PC_DESKTOP-FMKRTVK>
  </userSettings>
</configuration>